.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.highlight-green {
  background-color: #d4edda !important; /* Vert clair */
  color: #155724 !important; /* Texte vert foncé */
  border: 2px solid green !important; /* Ligne verte temporaire */
}

.highlight-red {
  background-color: #f8d7da !important; /* Rouge clair */
  color: #721c24 !important; /* Texte rouge foncé */
  border: 2px solid red !important; /* Ligne rouge temporaire */
}

